<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="MySql">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">dascac123</property>
  <property name="hibernate.connection.url">jdbc:mysql://sabinadb.cwtlgruxblhn.us-west-2.rds.amazonaws.com:3306/sabina</property>
  <property name="hibernate.connection.username">sabina</property>
  <property name="hibernate.dialect">org.hibernete.dialect.MySQL5Dialect</property>
  <mapping class = "holaMundo.Entidades.Client"/>
  
 </session-factory>
</hibernate-configuration>
